html {
    background-color: #bbbbbb;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}

p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}

h1, h3, h4, h5 {
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72pt;
    text-align: center;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

h2 {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    margin-top: .5rem;
    margin-bottom: 0pt;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 0;
}

h5 {
    font-size: 2rem;
    text-align: left;
    margin: 2rem 0 1rem;
    padding: 0;
}

li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}

.button, .button-selected {
    box-sizing: border-box;
    background-color: #2196f3;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid #fff;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 3rem;
    margin: -2px auto;
    cursor: pointer;
    height: 6rem;
}

.button-selected {
    border: 5px solid #000;
}

.small_button, .small_button_off {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    margin: -2px auto;
    cursor: pointer;
    height: 5rem;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
div.equality {
    background-color: #f44336;
    text-align: left;
    border-right-style: solid;
}
div.wealth {
    background-color: #00897b;
    text-align: right;
    border-left-style: solid;
}
div.liberty {
    background-color: #ffeb3b;
    text-align: left;
    border-right-style: solid;
}
div.authority {
    background-color: #3f51b5;
    text-align: right;
    border-left-style: solid;
}
div.peace {
    background-color: #03a9f4;
    text-align: right;
    border-left-style: solid;
}
div.might {
    background-color: #ff9800;
    text-align: left;
    border-right-style: solid;
}
div.progress {
    background-color: #9c27b0;
    text-align: right;
    border-left-style: solid;
}
div.tradition {
    background-color: #8bc34a;
    text-align: left;
    border-right-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
#banner {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}

.redux {
    color: red;
    /* font-style: italic; */
}

.explanation {
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
}

.explanation {
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    margin: 0 auto 1rem;
}

#explain {
	border: 3px solid #cccccc;
	padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    width: 98%;
    min-height: 8rem;
}

.question, .feedback {
    margin: .5rem auto 1.5rem ;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 5rem;
    background-color: #eeeeee;
    padding: 2rem;
    border-radius: 16pt;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback h4 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    line-height: 2rem;
}

.back-next-wrapper {
    display: flex;
    margin: auto;
    max-width: 22rem;
}

.home {
    /* width: 70%; */
    margin: auto;
}

.home p {
    padding: 0;
    margin: 0 0 1.25rem 0;
    font-size: 1.75rem;
    line-height: 2rem;
}

.home ol li {
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
}

.img-home-wrapper {
    margin: 2rem 0 2rem 0;
    margin: auto;
    width: 60%;
}

.img-home {
    width: 100%;
}

.home-button-wrapper {
    margin: 2rem 0 1rem 0;
}

.home a {
    text-decoration: underline;
}

.home a:link {
    color: #444444;
}
  
.home a:visited {
    color: #444444;
}
  
.home a:hover {
    color: #444444;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    
    body {
        width: 100%;
    }
    
    .img-home-wrapper {
        width: 90%;
    }

    .home p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .home ol li {
        color: #444444;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.75rem;
    }

    .home-button-wrapper {
        width: 100%;
    }

    .button {
        min-width: 17rem;
    }

    .button-home {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 420px) {
    
    .img-home-wrapper {
        width: 100%;
        margin-bottom: .5rem;
    }

    .home-button-wrapper {
        margin: 0 0 1rem 0;
    }

    .home p {
        font-size: .9rem;
        line-height: 1rem;
        margin: 0 0 .75rem 0;
    }

    .home ol li {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1rem;
        margin: 0 0 .5rem 0;
    }

    
}

